.text__contact__us {
  color: #0074e5;
  margin-top: 30px;
}

.contact_us .label__name {
  color: #44474e;
}

.contact_us .name {
  margin-bottom: 3rem;
  margin-top: 50px;
}

.contact_us .form__tabel {
  width: 960px;
  height: 704px;
  margin-bottom: 103px;
}

.contact_us #namaDepan {
  height: 55px;
}

.contact_us #namaBelakang {
  height: 55px;
}

.contact_us #email {
  height: 55px;
}

.contact_us #message {
  height: 290px;
}

.contact_us .btn__message {
  height: 55px;
  width: 100%;
  background-color: #0074e5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contact__us .w-full {
  font-size: 24px;
}

@media (max-width: 639px) {
  .contact_us .name {
    margin-bottom: 3rem;
  }
}
@media (max-width: 520px) {
  .tim__kami h1 {
    font-size: 13px;
  }
}
@media (max-width: 360px) {
  .tim__kami h1 {
    font-size: 11px;
  }
  .text__contact__us h1 {
    font-size: 24px;
  }
}
