.contact__us {
  color: #0074e5;
  margin-top: 30px;
}

.label__name {
  color: #44474e;
}

.name {
  margin-bottom: 3rem;
  margin-top: 50px;
}

.form__tabel {
  width: 960px;
  height: 704px;
  margin-bottom: 103px;
}

#namaDepan {
  height: 55px;
}

#namaBelakang {
  height: 55px;
}

#email {
  height: 55px;
}

#message {
  height: 290px;
}

.btn__message {
  height: 55px;
  width: 100%;
  background-color: #0074e5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.w-full {
  font-size: 24px;
}

@media (max-width: 639px) {
  .name {
    margin-bottom: 3rem;
  }
}
@media (max-width: 520px) {
  .tim__kami {
    font-size: 13px;
  }
}
@media (max-width: 360px) {
  .tim__kami {
    font-size: 11px;
  }
  .contact__us {
    font-size: 24px;
  }
}
