.footer {
  background-color: #fdfbff;
}

.footer-img {
  width: 70px;
  object-fit: contain;
  object-position: center;
}

@media screen and (min-width: 761px) {
  .footer-img {
    width: 173.19px;
    height: 74px;
  }
}
