.pendapatan {
  background-color: #fdfbff;
}

.pendapatan .pendapatan__content-div {
  background-color: #ffffff;
}

.pendapatan .pendapatan__working .pendapatan__kantor .button-container button {
  width: 140px;
  height: 40px;
  padding: 4px 16px;
  border: solid #0074e5;
  border-width: 1px;
  font-size: 14px;
  color: #0074e5;
}
